.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #f63, #f53d2d);
}

ul {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.header__navbar-list {
    list-style: none;
    margin-bottom: 5px;
}

.header__navbar-item {
    padding: 0 8px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 500;
}

.header__navbar-item-link:hover {
    color: hsla(0, 0%, 100%, .7);
}

.header__navbar-item--separate {
    border-right: 1px solid #FA8E82;
    position: relative;
}

/* Chỉnh dấu gạch dọc mà k bị phụ thuộc:
Cần position: relative nó (Class .header__navbar-item)
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-right:1px solid #FA8E82;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
} */

.header__navbar-icon {
    margin: 0 4px;
    font-size: 1.6rem;
}

/* Header QRcode */

.header__QRcode {
    display: none;
    width: 195px;
    position: absolute;
    left: 0;
    top: 100%;
    padding-top: 8px;
    animation: fadeIn ease-in-out 0.3s;
    z-index: 99999999;
    border-radius: 2px;
}

/* Khi chỉnh QRcode thấp xuống, thay vì padding,
rồi chỉnh background các kiểu để dùng top = 100%,
hoàn toàn có thể dùng thẻ giả ::before */
/* top = 150% */
/* header__QRcode {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 24px
    left: 0;
    top: -16px; */

.header__QRcode-apps {
    display: flex;
    border-radius: 2px;
}

.header__QRcode-apps div {
    flex: 1;
    padding: 0 8px 8px;
    background-color: var(--white-color);
    border-radius: 2px;
}

.header__QRcode-apps-dow img {
    width: 100%;
}

/* :nth-child(number) */
.header__QRcode-apps-dow:first-child {
    margin-bottom: 8px;
    display: block;
}

.header__navbar-item--hov:hover .header__QRcode {
    display: initial;
}

.header__QRcode img {
    display: block;
    border-radius: 2px;
}

.header__navbar-list:last-child .header__navbar-item:first-child {
    position: relative;
}

.header__navbar-notify {
    position: absolute;
    background-color: var(--white-color);
    border: 1px solid rgb(172, 171, 171);
    right: 0;
    margin-top: 8px;
    width: 400px;
    z-index: 999999999;
    border-radius: 3px;
}

.header__navbar-notify::after {
    display: block;
    position: absolute;
    content: '';
    top: -19px;
    right: 26px;
    border: var(--white-color) solid;
    border-width: 10px 16px;
    border-left-color: transparent;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
}

.header__navbar-notify::before {
    display: block;
    position: absolute;
    content: '';
    top: -18px;
    right: 0;
    width: 50%;
    height: 18px;
}

.notify__top {
    display: block;
    background: url(../img/user.png) 50% 35% / 25% no-repeat;
    height: 310px;
}

.notify__top>p {
    position: absolute;
    color: var(--black-color);
    bottom: 30%;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 300;
}

.notify__down {
    display: flex;
}

.notify__down-item {
    flex: 1;
    text-align: center;
    padding: 12px 0;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--black-color);
    background-color: #F5F5F5;
}

.notify__down-item:hover {
    background-color: #E8E8E8;
    color: #EE4D2D;
}

.header__navbar-notify {
    display: none;
    transform-origin: calc(100% - 40px) top;
    animation: zoomInOut ease-in 0.2s;
    will-change: opacity, transform;
    /* Thuộc tính này để khai báo cho trình duyệt biết
    để tối ưu chuyển động */
}

.header__navbar-list:last-child .header__navbar-item:first-child:hover .header__navbar-notify {
    display: block;
}

/* notify logged */
.notify__list {
    list-style: none;
    overflow: auto;
    max-height: 850px;
}

.notify__list-item {
    color: var(--black-color);
}

.notify__list-item--viewed {
    background-color: rgba(238, 82, 52, 0.1);
}

.notify__list-item:first-child,
.notify__list-item:last-child {
    text-align: center;
    font-size: 1.4rem;
}

.notify__list-item-head,
.notify__list-item-foot {
    text-decoration: none;
    color: var(--black-color);
    display: block;
    padding: 12px;
}

.notify__list-item-link {
    display: flex;
    padding: 8px;
    text-decoration: none;
    color: var(--black-color);
}


.notify__list-item-link:hover {
    background-color: #f8f8f8;
}

.notify__list-item-img {
    margin-right: 4px;
}

.notify__list-item-img img {
    width: 40px;
}

.item_info {
    opacity: 0.8;
}

.item_info-name {
    margin-bottom: 4px;
    font-weight: 400;
}

.item_info-sub {
    margin-bottom: 8px;
    font-weight: 300;
}

.item_info-img {
    width: 100%;
}

/* Form DK DN */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 7px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    padding-top: 36px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch--btn {
    font-size: 1.6rem;
    color: var(--basic-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
    margin-top: 48px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__asside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--basic-color);
}

.auth-form__controls {
    margin-top: 100px;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls--back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--fb,
.auth-form__socials--icon {
    color: var(--white-color) !important;
}

.auth-form__socials--fb {
    background-color: royalblue !important;
}

.auth-form_socials-title {
    margin: 0 40px;
}

.auth-form__socials--gg {
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--basic-color);
}

.auth-form__sepa {
    display: block;
    height: 16px;
    margin: 0 16px;
    border-left: 1px solid var(--border-color);
}

/* Header search */
.header__navbar-search {
    height: var(--search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
    margin-top: 8px;
}

.header__logo {
    width: 200px;
    margin-top: -12px;
}

.header__logo-img {
    width: 150px;
}

.header__section {
    display: flex;
    border-radius: 2px;
    flex: 1;
    flex-direction: column;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: flex;
    position: relative;
}

.header__cart {
    width: 150px;
    text-align: center;
    margin-top: -24px;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    padding: 8px;
    cursor: pointer;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-find {
    width: 70px;
    background-color: var(--basic-color);
    color: var(--white-color);
    text-align: center;
    font-size: 1.6rem;
    margin: 3px;
    padding-top: 8px;
    cursor: pointer;
    border-radius: 2px;
}

.header__search-find:hover {
    opacity: 0.9;
}

.header__catalog-list {
    list-style: none;
    margin: 5px;
}

.header__catalog-item {
    display: inline-block;

}

.header__catalog-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 0px 4px;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 80px);
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    overflow: hidden;
    background-color: var(--white-color);
    margin-top: 5px;
    display: none;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    display: block;
}

.header__search-history-link--head {
    display: flex;
    justify-content: space-between;
}

.header__search-history-img {
    height: 24px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Cart */
.header__cart-content {
    position: absolute;
    top: calc(100% + 8px);
    right: -8px;
    background-color: var(--white-color);
    width: 400px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    display: none;
    transform-origin: calc(100% - 40px) top;
    animation: zoomInOut ease-in 0.2s;
    will-change: opacity, transform;
}

.header__cart-content--noCart {
    padding: 60px 0;
}

.header__cart-noCart-img {
    width: 100px;
}

.header__cart-noCart-msg {
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
}

.header__cart-noCart-img,
.header__cart-noCart-msg {
    display: none;
}

.header__cart-content--noCart .header__cart-noCart-img {
    display: inline-block;
}

.header__cart-content--noCart .header__cart-noCart-msg {
    display: block;
}

.header__cart-content::after {
    display: block;
    position: absolute;
    content: '';
    top: -20px;
    right: 10px;
    border: var(--white-color) solid;
    border-width: 10px 16px;
    border-left-color: transparent;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    cursor: pointer;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
}

.header__cart-wrap:hover .header__cart-content {
    display: block;
}

.header__cart-content::before {
    display: block;
    position: absolute;
    content: '';
    top: -35px;
    right: 40px;
    width: 20%;
    height: 35px;
}

.header__cart-wrap-notice {
    position: absolute;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--basic-color);
    padding: 0 8px;
    font-size: 1.4rem;
    line-height: 1.5rem;
    text-align: center;
    right: -6px;
    cursor: pointer;
}

/* Cart */
.header__cart-list {
    max-height: 700px;
    overflow: auto;
    list-style: none;
}

.header__cart-item {
    padding: 10px;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-item-head {
    display: inline-block;
    text-align: center;
    margin: 12px 0;
}

.header__cart-link {
    font-size: 1.4rem;
    display: flex;
    text-decoration: none;
}

.header__cart-item-img {
    width: 4rem;
    margin-right: 10px;
}

.header__cart-item-info {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.header__cart-item-name {
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.3rem;
}

.header__cart-item-value {
    color: var(--basic-color);
}

.header__cart-item-foot {
    padding: 10px;
    float: right;
}

.header__cart-item-foot:hover button {
    background-color: #f05d40;
}