.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #f63, #f53d2d);
}

ul {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.header__navbar-list {
    list-style: none;
    margin-bottom: 5px;
    display: flex;
}

.header__navbar-item {
    padding: 0 8px;
}

.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 500;
}

.header__navbar-user {
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-list {
    display: block;
}

.header__navbar-item-user {
    display: flex;
    justify-content: center;
}

.header__navbar-item-img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.header__navbar-item-name {
    margin-left: 4px;
    font-size: 1.3rem;
}

.header__navbar-user-list {
    position: absolute;
    background-color: var(--white-color);
    list-style: none;
    right: 8px;
    width: 150px;
    top: calc(100% + 8px);
    z-index: 99999;
    display: none;
    border-radius: 2px;
    box-shadow: 0 0 3px 3px rgb(0 0 0 / 10%);
}

.header__navbar-user-list::after {
    display: block;
    position: absolute;
    content: '';
    top: -20px;
    right: 10px;
    border: var(--white-color) solid;
    border-width: 12px 20px;
    border-left-color: transparent;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    cursor: pointer;
}

.header__navbar-user-list::before {
    display: block;
    position: absolute;
    content: '';
    top: -14px;
    right: -1px;
    width: 65%;
    height: 15px;
}

.header__navbar-user-link {
    color: var(--text-color);
    padding: 12px;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
}

.header__navbar-user-link--separate {
    border-top: 1px solid var(--border-color);
}

.header__navbar-user-link:hover {
    background-color: #f8f8f8;
    color: #00bfa5;
    border-radius: 2px;
}

.header__navbar-item-link:hover {
    color: hsla(0, 0%, 100%, .7);
}

.header__navbar-item--separate {
    border-right: 1px solid #FA8E82;
    position: relative;
}

/* Chỉnh dấu gạch dọc mà k bị phụ thuộc:
Cần position: relative nó (Class .header__navbar-item)
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-right:1px solid #FA8E82;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
} */

.header__navbar-icon {
    margin: 0 4px;
    font-size: 1.6rem;
}

/* Header QRcode */

.header__QRcode {
    display: none;
    width: 195px;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 8px;
    animation: fadeIn ease-in-out 0.3s;
    z-index: 99999999;
    border-radius: 2px;
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 10%);
}

.header__QRcode::after {
    display: block;
    position: absolute;
    content: '';
    top: -9px;
    left: 0;
    width: 50%;
    height: 10px;
}

/* Khi chỉnh QRcode thấp xuống, thay vì padding,
rồi chỉnh background các kiểu để dùng top = 100%,
hoàn toàn có thể dùng thẻ giả ::before */
/* top = 150% */
/* header__QRcode {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 24px
    left: 0;
    top: -16px; */

.header__QRcode-apps {
    display: flex;
    border-radius: 2px;
}

.header__QRcode-apps div {
    flex: 1;
    padding: 0 8px 8px;
    background-color: var(--white-color);
    border-radius: 2px;
}

.header__QRcode-apps-dow img {
    width: 100%;
}

/* :nth-child(number) */
.header__QRcode-apps-dow:first-child {
    margin-bottom: 8px;
    display: block;
}

.header__navbar-item--hov:hover .header__QRcode {
    display: initial;
}

.header__QRcode img {
    display: block;
    border-radius: 2px;
}

.header__navbar-list:last-child .header__navbar-item:first-child {
    position: relative;
}

.header__navbar-notify {
    position: absolute;
    background-color: var(--white-color);
    border: 1px solid rgb(172, 171, 171);
    right: 0;
    margin-top: 8px;
    width: 400px;
    z-index: 999999999;
    border-radius: 3px;
}

.header__navbar-notify::after {
    display: block;
    position: absolute;
    content: '';
    top: -19px;
    right: 26px;
    border: var(--white-color) solid;
    border-width: 10px 16px;
    border-left-color: transparent;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
}

.header__navbar-notify::before {
    display: block;
    position: absolute;
    content: '';
    top: -18px;
    right: 0;
    width: 50%;
    height: 18px;
}

.notify__top {
    display: block;
    background: url(../img/user.png) 50% 35% / 25% no-repeat;
    height: 310px;
}

.notify__top>p {
    position: absolute;
    color: var(--black-color);
    bottom: 30%;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 300;
}

.notify__down {
    display: flex;
}

.notify__down-item {
    flex: 1;
    text-align: center;
    padding: 12px 0;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--black-color);
    background-color: #F5F5F5;
}

.notify__down-item:hover {
    background-color: #E8E8E8;
    color: #EE4D2D;
}

.header__navbar-notify {
    display: none;
    transform-origin: calc(100% - 40px) top;
    animation: zoomInOut ease-in 0.2s;
    will-change: opacity, transform;
    /* Thuộc tính này để khai báo cho trình duyệt biết
    để tối ưu chuyển động */
}

.header__navbar-list:last-child .header__navbar-item:first-child:hover .header__navbar-notify {
    display: block;
}

/* notify logged */
.notify__list {
    list-style: none;
    overflow: auto;
    max-height: 850px;
}

.notify__list-item {
    color: var(--black-color);
}

.notify__list-item--viewed {
    background-color: rgba(238, 82, 52, 0.1);
}

.notify__list-item:first-child,
.notify__list-item:last-child {
    text-align: center;
    font-size: 1.4rem;
}

.notify__list-item-head,
.notify__list-item-foot {
    text-decoration: none;
    color: var(--black-color);
    display: block;
    padding: 12px;
}

.notify__list-item-link {
    display: flex;
    padding: 8px;
    text-decoration: none;
    color: var(--black-color);
}


.notify__list-item-link:hover {
    background-color: #f8f8f8;
}

.notify__list-item-img {
    margin-right: 4px;
}

.notify__list-item-img img {
    width: 40px;
}

.item_info {
    opacity: 0.8;
}

.item_info-name {
    margin-bottom: 4px;
    font-weight: 400;
}

.item_info-sub {
    margin-bottom: 8px;
    font-weight: 300;
}

.item_info-img {
    width: 100%;
}

/* Form DK DN */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 7px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    padding-top: 36px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch--btn {
    font-size: 1.6rem;
    color: var(--basic-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
    margin-top: 48px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__asside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--basic-color);
}

.auth-form__controls {
    margin-top: 100px;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls--back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--fb,
.auth-form__socials--icon {
    color: var(--white-color) !important;
}

.auth-form__socials--fb {
    background-color: royalblue !important;
}

.auth-form_socials-title {
    margin: 0 40px;
}

.auth-form__socials--gg {
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--basic-color);
}

.auth-form__sepa {
    display: block;
    height: 16px;
    margin: 0 16px;
    border-left: 1px solid var(--border-color);
}

/* Header search */
.header__navbar-search {
    height: var(--search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
    margin-top: 8px;
}

.header__mobile-search {
    font-size: 2.6rem;
    color: #fff;

}

.header__search-checkbox:checked~.header__section {
    display: flex;
}

.header__logo {
    width: 200px;
    margin-top: -12px;
}

.header__logo-link {
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
}

.header__section {
    display: flex;
    border-radius: 2px;
    flex: 1;
    flex-direction: column;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: flex;
    position: relative;
}

.header__cart {
    width: 150px;
    text-align: center;
    margin-top: -24px;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    padding: 8px;
    cursor: pointer;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-find {
    width: 70px;
    background-color: var(--basic-color);
    color: var(--white-color);
    text-align: center;
    font-size: 1.6rem;
    margin: 3px;
    padding-top: 8px;
    cursor: pointer;
    border-radius: 2px;
}

.header__search-find:hover {
    opacity: 0.9;
}

.header__catalog-list {
    list-style: none;
    margin: 5px;
}

.header__catalog-item {
    display: inline-block;

}

.header__catalog-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 0px 4px;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 80px);
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    overflow: hidden;
    background-color: var(--white-color);
    margin-top: 5px;
    display: none;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    display: block;
}

.header__search-history-link--head {
    display: flex;
    justify-content: space-between;
}

.header__search-history-img {
    height: 24px;
}

.header__search-input:focus~.header__search-history {
    display: block;
}

/* Cart */
.header__cart-content {
    position: absolute;
    top: calc(100% + 8px);
    right: -8px;
    background-color: var(--white-color);
    width: 400px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    display: none;
    transform-origin: calc(100% - 40px) top;
    animation: zoomInOut ease-in 0.2s;
    will-change: opacity, transform;
    z-index: 1;

}

.header__cart-content--noCart {
    padding: 60px 0;
}

.header__cart-noCart-img {
    width: 100px;
}

.header__cart-noCart-msg {
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
}

.header__cart-noCart-img,
.header__cart-noCart-msg {
    display: none;
}

.header__cart-content--noCart .header__cart-noCart-img {
    display: inline-block;
}

.header__cart-content--noCart .header__cart-noCart-msg {
    display: block;
}

.header__cart-content::after {
    display: block;
    position: absolute;
    content: '';
    top: -20px;
    right: 10px;
    border: var(--white-color) solid;
    border-width: 10px 16px;
    border-left-color: transparent;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    cursor: pointer;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
}

.header__cart-wrap:hover .header__cart-content {
    display: block;
}

.header__cart-content::before {
    display: block;
    position: absolute;
    content: '';
    top: -35px;
    right: 40px;
    width: 20%;
    height: 35px;
}

.header__cart-wrap-notice {
    position: absolute;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--basic-color);
    padding: 0 8px;
    font-size: 1.4rem;
    line-height: 1.5rem;
    text-align: center;
    right: -6px;
    cursor: pointer;
}


.header__cart-list {
    max-height: 60vh;
    overflow-y: auto;
    list-style: none;
}

.header__cart-item {
    padding: 10px;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-item-head {
    display: inline-block;
    text-align: center;
    margin: 12px 0;
}

.header__cart-link {
    font-size: 1.4rem;
    display: flex;
    text-decoration: none;
}

.header__cart-item-img {
    width: 4rem;
    margin-right: 10px;
}

.header__cart-item-info {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.header__cart-item-name {
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.3rem;
    height: 3.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-value {
    color: var(--basic-color);
}

.header__cart-item-foot {
    padding: 10px;
    float: right;
}

.header__cart-item-foot:hover button {
    background-color: #f05d40;
}

/* Header sort bar */
.header__sortBar {
    position: fixed;
    top: var(--search-height);
    left: 0;
    right: 0;
    height: var(--header-sortBar-height);
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sortBar-item {
    flex: 1;
}

.header__sortBar-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sortBar-height);
    text-align: center;
    position: relative;
}

.header__sortBar-link::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    height: 60%;
    border-left: 1px solid #e5e5e5;
}

.header__sortBar-item--active {
    color: var(--basic-color);
}

.header__sortBar-item:first-child .header__sortBar-link::before {
    display: none;
}

/* Container */
.container {
    background-color: #f5f5f5;
}

.content {
    padding-top: 32px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 16px 16px;
    border-bottom: 1px solid var(--border-color);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 8px;
}

.category-list {
    list-style: none;
    padding: 6px 0 6px 12px;
}

.category-item {
    position: relative;
    padding-bottom: 4px;
}

.category-item--active .category-item__link {
    color: var(--basic-color);
}

.category-item--active .category-item__link::before {
    content: "";
    display: block;
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--basic-color);
    top: 15px;
    transform: translateY(-50%);
    left: 6px;
}

.category-item__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 8px 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    max-height: 4rem;
    line-height: 1.6rem;
}

/* home */
.home-filter {
    background-color: rgba(0, 0, 0, .03);
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 2px;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-number {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--basic-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
    color: #555;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
}


.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

/* item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}

.home-product-item:hover {
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-product-item-pad10 {
    padding: 10px;
}

.home-product-item_name-wrap {
    height: 6.4rem;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    /* Cách này thì k phải tất cả trình duyệt đều hỗ trợ */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    Đây cũng là 1 cách nhưng áp dụng cho 1 dòng thôiiii */
    margin-bottom: 4px;
}

.home-product-item-promotion {
    color: var(--basic-color);
    border: 1px solid;
    display: inline-block;
    padding: 0 2px;
    margin-bottom: 6px;
}

.home-product-item__pride {
    margin-bottom: 8px;
}

.home-product-item__pride-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 4px;
}

.home-product-item__pride-current {
    font-size: 1.6rem;
    color: var(--basic-color);
}

.home-product-item__pride-freeShip {
    float: right;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.home-product-item__like {
    font-size: 1.1rem;
}

i.home-product-item__like-icon--able {
    display: none;
    color: var(--basic-color);
}

.home-product-item__liked .home-product-item__like-icon--able {
    display: inline-block;
}

.home-product-item__liked .home-product-item__like-icon--disable {
    display: none;
}

.home-product-item__rate {
    margin: -1px 0 0 auto;
    color: rgba(0, 0, 0, .26);
    font-size: 0.9rem;
}

.home-product-item__sold {
    font-size: 1.2rem;
    margin-left: 4px;
}

.home-product-item__origin {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .65);
    display: flex;
    justify-content: flex-end;
}

.home-product-item__favourite {
    position: absolute;
    top: 4px;
    left: -4px;
    background-color: currentColor;
    color: var(--basic-color);
    font-size: 1.2rem;
    padding: 0 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    bottom: -3px;
    left: 0px;
    filter: brightness(60%);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 32px;
    background-color: rgba(255, 212, 36, .9);
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-top: 2px;
}

.home-product-item__sale-off::before {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    border-color: transparent rgba(255, 212, 36, .9);
    border-style: solid;
    border-width: 0 18px 4px;
}

.home-product-item__sale-off-percent {
    color: var(--basic-color);
}

.home-product-item__sale-off-label {
    display: block;
    color: var(--white-color);
}

.home-product__pagination {
    margin: 48px 0px 32px 0px;
}

/* Footer */
.footer {
    border-top: 4px solid var(--basic-color);
    background-color: #fbfbfb;
}

.footer__wrap {
    margin-top: 32px;
    padding-bottom: 28px;
    border-top: 2px solid #E8E8E8;
    border-bottom: 2px solid #E8E8E8;
}

.footer__heading {
    font-size: 1.4rem;
    padding: 40px 0 24px 0;
}

.footer__list {
    list-style: none;
}

.footer__item {
    margin: 8px 0;
}

.footer__item:hover .footer__link {
    color: var(--basic-color);
}

.footer__link {
    text-decoration: none;
    color: #737373;
    font-size: 1.2rem;
}

.footer__listPay,
.footer__listShip {
    display: flex;
    flex-wrap: wrap;
}

.footer__itemPay,
.footer__itemShip {
    width: 55px;
    height: 29px;
    margin-bottom: 8px;
    margin-right: 8px;
    overflow: hidden;
    display: flex;
}

.footer__icon {
    background-image: url(/asset/img/footer_icon.png);
}

.footer__icon-visa {
    width: 55px;
    height: 18px;
    background-size: 1390.909090909091% 1194.4444444444443%;
    background-position: 73.52112676056338% 5.0761421319796955%;
}

.footer__icon-mtc {
    width: 55px;
    height: 29px;
    background-size: 1390.909090909091% 741.3793103448276%;
    background-position: 44.50704225352113% 5.376344086021505%;
}

.footer__icon-jcb {
    width: 55px;
    height: 23px;
    background-size: 1390.909090909091% 934.7826086956521%;
    background-position: 37.183098591549296% 30.729166666666668%;
}

.footer__icon-mex {
    width: 55px;
    height: 24px;
    background-size: 1530% 977.2727272727273%;
    background-position: 11.188811188811188% 5.181347150259067%;
}

.footer__icon-cod {
    width: 50px;
    height: 29px;
    background-size: 1530% 741.3793103448276%;
    background-position: 79.3006993006993% 25.806451612903224%;
}

.footer__icon-installment {
    width: 55px;
    height: 29px;
    background-size: 1390.909090909091% 741.3793103448276%;
    background-position: 79.85915492957747% 52.1505376344086%;
}

.footer__icon-shopeepay {
    width: 55px;
    height: 12px;
    background-size: 765% 1131.578947368421%;
    background-position: 63.00751879699248% 24.489795918367346%;
}

.footer__icon-express {
    width: 55px;
    height: 10px;
    background-size: 689.1891891891892% 1194.4444444444443%;
    background-position: 59.78593272171254% 5.0761421319796955%;
}

.footer__icon-ghtk {
    width: 55px;
    height: 18px;
    background-size: 1390.909090909091% 1194.4444444444443%;
    background-position: 19.295774647887324% 51.776649746192895%;
}

.footer__icon-ghn {
    width: 55px;
    height: 29px;
    background-size: 1390.909090909091% 741.3793103448276%;
    background-position: 8.732394366197184% 54.83870967741935%;
}

.footer__icon-viettelpost {
    width: 55px;
    height: 40px;
    background-size: 597.65625% 167.96875%;
    background-position: 65.77708006279435% 100%;
}

.footer__icon-vnpost {
    width: 55px;
    height: 27px;
    background-size: 1390.909090909091% 796.2962962962963%;
    background-position: 100% 5.319148936170213%;
}

.footer__icon-jandt {
    width: 55px;
    height: 16px;
    background-size: 1390.909090909091% 1343.75%;
    background-position: 84.08450704225352% 5.025125628140704%;
}

.footer__icon-grap {
    width: 55px;
    height: 15px;
    background-size: 570.8955223880597% 741.3793103448276%;
    background-position: 25.673534072900157% 5.376344086021505%;
}

.footer__icon-now {
    width: 38px;
    height: 32px;
    background-size: 956.25% 268.75%;
    background-position: 46.13138686131387% 77.77777777777777%;
}

.footer__icon-ninja {
    width: 50px;
    height: 20px;
    background-size: 1275% 826.9230769230769%;
    background-position: 48.08510638297872% 31.21693121693122%;
}

.footer__icon-best {
    width: 55px;
    height: 22px;
    background-size: 1062.5% 716.6666666666666%;
    background-position: 10.1010101010101% 28.10810810810811%;
}

.footer__item-icon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__QRcode {
    display: block;
    position: inherit;
}

.footer__text {
    margin: auto;
    font-size: 1.2rem;
    color: #787878;
    padding: 32px 0;
}