/* Mobile & Ipad */
@media (max-width: 1023px) {
    .hide-on-mobileipad {
        display: none;
    }

    .header {
        height: auto;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999999999;
    }

    .header__navbar-search {
        margin: auto;
    }

    .header__cart {
        margin-top: initial;
    }

    .header__logo {
        margin-right: 16px;
        width: initial;
        margin-top: initial;
    }

    .header__logo-img {
        width: 120px;
    }

    .header__cart {
        width: initial;
    }

    .header__cart-content {
        position: fixed;
        top: 86px;
        width: 100%;
        left: 0;
    }

    .header__cart-content::after {
        display: none;
    }

    .header__QRcode {
        width: initial;
    }

    .container {
        margin-top: 132px;
    }

    .header__sortBar {
        display: flex;
    }
}

/* Ipad */
@media (min-width: 740px) and (max-width:1023px) {
    .hide-on-ipad {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 95px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header__navbar-search {
        justify-content: space-between;
    }

    .header__mobile-search {
        margin: 0 12px;
    }

    .header__logo {
        margin: unset;
    }

    .header__cart {
        margin: 0 12px;
    }

    .header__section {
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        top: 30px;
        padding: 0 16px;
        animation: mobileSearch_toDown linear 0.3s forwards;
        opacity: 0;
        display: none;
    }

    .header__search-history {
        left: -14px;
        width: calc(100% + 26px);
    }

    @keyframes mobileSearch_toDown {
        from {}

        to {
            opacity: 1;
            top: calc(var(--search-height) + 2px);
        }
    }
}