/* Mobile & Ipad */
@media (max-width: 1023px) {
    .hide-on-mobileipad {
        display: none;
    }

    .header {
        height: auto;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999999999;
    }

    .header__navbar-search {
        margin: auto;
    }

    .header__cart {
        margin-top: initial;
    }

    .header__logo {
        margin-right: 16px;
        width: initial;
        margin-top: initial;
    }

    .header__logo-img {
        width: 120px;
    }

    .header__cart {
        width: initial;
    }

    .header__cart-content {
        position: fixed;
        top: 86px;
        width: 100%;
        left: 0;
    }

    .header__cart-content::after {
        display: none;
    }

    .header__QRcode {
        width: initial;
    }

    .container {
        margin-top: 86px;
    }
}

/* Ipad */
@media (min-width: 740px) and (max-width:1023px) {
    .hide-on-ipad {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}